body{
   background: linear-gradient(329.54deg, #29b6d1 0%, #00c7c7);
}

.logo{
    display: inline-block;
    position: relative;
    bottom: 550px;
    left: 90px;
}

.criancasIMG{
    display: inline-block;
    position: relative;
    left: 500px;
    top: 20px;
}
p{
    display: inline-block;
    color: white;
    font-style: oblique;
    font-size: 30px;
    position: relative;
    left: 500px;
    bottom: 580px;
}
.local{
    text-align: right;
}


h2{
    display: inline-block;
    font-style: oblique;
    color: white;
    font-size: 85px;
    position: relative;
    bottom: 600px;
    left: 90px;
}

h3{
    display: inline-block;
    font-style: oblique;
    color: white;
    font-size: 26px;
    position: relative;
    left: 90px;
    bottom: 660px;
}
.botao{
    position: relative;
    bottom: 680px;
    left: 1050px;
}